body{
    font-family: 'Poppins', helvetica;
    color: #212529;
}

p {
    font-size: 15px;
    color: #666666;
    line-height: 28px;
    margin-top: 10px;
}

.padding-5 {
    padding: 0 5px;
}

.padding-10 {
    padding: 0 10px;
}

.padding-20 {
    padding: 0 20px;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    background: #fff;
    opacity: .98;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.18);
}
header .navbar-brand img {
    max-width: 60px;
    padding-right: 10px;
}
header .navbar .navbar-light {
    background-color: #fff;
}
header .navbar-nav {
    text-align: center;
}
.navbar-light .navbar-nav .nav-link.resume{
    color: white;
    width: fit-content;
    padding: 5px 20px;
    margin: 0 auto 5px auto;
}

#hero-header{
    padding-top: 80px;
}

#hero-header .header-content {
    text-align: left;
    width: 100%;
    margin: 8% 0 8% 0;
}

#hero-header .header-content h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#hero-header .header-content p {
    font-size: 13px;
    letter-spacing: 5px;
    margin-top: 0;
    text-transform: capitalize;
    font-weight: 500;
}

#hero-header .header-content .list-social li {
    float: left;
    margin-right: 20px;
}

#hero-header .header-content .list-social li i {
    color: #212529;
    font-size: 15px;
}

#hero-header .row .col-sm-12:last-child {
    display: none;
}

#hero-header .profile-img {
    border-radius: 50%;
    max-width: 90%;
    float: right;
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.2);
}

#about {
    padding: 80px 0 80px 0;
    background: #F1F1F1;
}

#about .div-img-bg {
    border: 20px solid #b8a07e;
    width: fit-content;
}

#about .div-img-bg .about-img img {
    box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
    object-fit: cover;
}

#about .about-descr .p-heading {
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    text-align: left;
}

#about .about-descr .separator {
    max-width: 80%;
    margin-bottom: 0;
    text-align: left;
}

#skills {
    padding: 90px 0 80px 0;
    background: #fff;
}

#skills .section-title {
    margin-bottom: 30px;
}

#skills .project {
    opacity: .3;
    max-width: 100%;
    will-change: opacity;
    object-fit: cover;
    transition: opacity .2s ease-in-out;
    padding: 30px;
}

#skills .container .row {
    margin: auto;
}

#skills .skill-icons {
    transition: 0.5s ease;
}

#skills .skill-icons:hover {
    transform: scale(1.5);
}

#skills .skill-icons img {
    max-width: 120px;
}
#portfolio{
    background-color: #F1F1F1;
}
#contact{
    padding: 80px 0 80px 0;
}
#contact input{
    margin-bottom: 15px;
}
.form-control{
    background-color: #f5f5f5;
    box-shadow: none;
    color: #565656;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    line-height: 1.43;
    min-height: 3.5em;
    padding: 1.07em .5em;
}
#footer{
    background-color: #F1F1F1;
    padding: 30px 0 5px 0;
}
#footer .foot-menu{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    font-weight: 500;
}
#footer .foot-menu .foot-menu-item{
    padding: 0 1rem;
}
#footer .foot-menu .foot-menu-item a{
    color: rgba(0,0,0,.5);
    text-decoration: none;
}
#footer .foot-menu .foot-menu-item a:hover{
    color: rgba(0,0,0,.7);
}
#footer .socials-media ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    float: none;
    margin: 0 0 20px 0;
}
#footer .socials-media ul li {
    margin-left: 10px;
    margin-right: 10px;
}
#footer .socials-media ul li a {
    font-size: 24px;
    color: rgba(0,0,0,.5);
}
#footer .socials-media ul li a:hover{
    color: rgba(0, 0, 0, 0.7);
}
#footer p{
    margin-bottom: 0;
}

@media (min-width: 768px) {
    #hero-header .row .col-sm-12:last-child {
        display: block;
    }
    #about {
        padding: 120px 0 80px 0;
    }
    #about .div-img-bg {
        border: 20px solid #b8a07e;
        width: 250px;
    }
    #about .div-img-bg .about-img img {
        box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
        object-fit: cover;
    }
    #about .about-descr{
        margin-top: -50px;
    }
}

@media (min-width: 1024px){
    #about {
        padding: 150px 0 80px 0;
    }
    #about .div-img-bg {
        padding-bottom: 40px;
        border: 20px solid #b8a07e;
        width: fit-content;
    }
    #about .div-img-bg .about-img img {
        margin-left: 50px;
        margin-top: -60px;
    }
    #about .about-descr{
        margin-top: 0;
    }
    #about .about-descr .p-heading {
        font-size: 28px;
    }
}

